<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="ion-padding" style="text-align: center;margin-top:65%">
        <ion-item>
            <ion-label position="floating">Login </ion-label>
            <ion-input type="text"  [(ngModel)]="email"></ion-input>
          </ion-item>
      
      <ion-item>
        <ion-label position="floating" >password</ion-label>
        <ion-input type="password"   [(ngModel)]="password"></ion-input>
      </ion-item>
      <div style="margin-left: 30%;padding-top:3%">
        <ion-text color="primary" style="margin-right: 5% ;padding-top:5%" routerLink="/account" routerDirection="forward">Register</ion-text>
       <ion-button size="small" (click)="login()">Connect</ion-button>
      </div>
      
      
    </div>

    <ion-list>
      <ion-item *ngFor="let u of users">
           {{u.gender}}
      </ion-item>
    </ion-list>

</ion-content>
